body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.phone{
    position: relative;
    height: 600px;
    width: 277px;
    background: #121212;
    border-radius: 40px;
}

.screen{
    position: absolute;
    top: 20px;
    bottom: 20px;
    right: 10px;
    left: 10px;
    background: #fff;
    border-radius: 20px;   
    overflow: hidden; 
}

.screen2{
    position: relative;
    top: 300px;
    bottom: 0px;
    right: 10px;
    left: 10px;
    background: #fff;
    border-radius: 20px;   
    overflow: hidden; 
}

.passaro{
    position: absolute;
    top: 39.96%;
    bottom: 46.73%;
    right: -7%;
    left: 80.19%;
}

.pau{
    position: absolute;
    top: 13.77%;
    bottom: -2.9%;
    right: 49.04%;
    left: 39.84%;
}


section {
    height: 1020px;
    width: 480px;
    border: 1px solid #ccc;
}

frame {
    height: 1020px;
    width: 480px;
}

header {
    padding: 30px;
    padding-top: 20px;
    align-items: center;
    justify-content: center;
    font-family: "Abril Fatface", cursive;
    font-size:2.5rem;
    text-align:center;
    font-weight:100;
}

h2 {
    padding: 30px;
    padding-top: 320px;
    align-items: center;
    justify-content: center;
    font-family: "Abril Fatface", cursive;
    font-size:2.5rem;
    text-align:center;
    font-weight:100;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.fade-in{
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}