body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.phone{
    position: relative;
    height: 896px;
    width: 414px;
    background: #121212;
    border-radius: 40px;
    overflow: hidden;
}

.screen{
    position: absolute;
    top: 20px;
    bottom: 20px;
    right: 10px;
    left: 10px;
    background: #fff;
    border-radius: 20px;   
    overflow: hidden; 
}

.bottomtext{
    position: absolute;
    top: 750px;
    bottom: 0px;
    right: 20px;
    left: 20px;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 20px;
    text-align: center;
}

.passaro{
    position: absolute;
    top: 39.96%;
    bottom: 46.73%;
    right: 0px;
    left: 220px;
}

.faladopassaro{
    position: absolute;
    top: 14.17%;
    bottom: 77.46%;
    right: 41.55%;
    left: 14.49%;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
}

.nameinput{
    position: absolute;
    top: 180px;
    bottom: 0px;
    right: 41.55%;
    left: 14.49%;
}

.pau{
    position: absolute;
    top: 424px;
    bottom: 0px;
    right: 0px;
    left: 58px;
    
}


section {
    height: 1020px;
    width: 480px;
    border: 1px solid #ccc;
}

frame {
    height: 1020px;
    width: 480px;
}

header {
    padding: 30px;
    padding-top: 20px;
    align-items: center;
    justify-content: center;
    font-family: "Mulish", sans-serif;
    font-size:2.5rem;
    text-align:center;
    font-weight:100;
}

h2 {
    padding: 30px;
    padding-top: 320px;
    align-items: center;
    justify-content: center;
    font-family: "Mulish", sans-serif;
    font-size:2.5rem;
    text-align:center;
    font-weight:100;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.fade-in{
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}